@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  background-color: #212121;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 15%;
}

header h1 {
  font-size: 3em;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  gap: 20px;
}

.search input {
  background: #212121;
  border: 1px solid #B3B3B3;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  font-size: 1.2em;
  width: 40%;
}

.search button {
  padding: 10px;
  display: flex;
  align-items: center;
  background: rgba(220, 206, 206, 0.14);
  border-radius: 10px;
  outline: none;
  border: none;
}

.search button img {
  width: 40px;
}