@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: #212121;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 150px 5%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .content {
    padding: 100px 5%;
  }
}